<div class="container-fluid h-100 text-dark p-4">
  <div class="row justify-content-center align-items-center">
    <div class="container p-2">
      <div class="row">
        <div class="text-center">
          <h1>Create Ad</h1>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container p-4 mb-4 mt-4">
    <form id="create_ad" class="d-flex flex-column align-items-center">
      <div class="col-md-4">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          type="text"
          class="form-control"
          placeholder="Title"
        />
      </div>
      <br />
      <div class="col-md-4">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" rows="4"></textarea>
      </div>
      <br />
      <!-- BRANDS -->
      <div class="col-md-4">
        <label for="brand_name" class="form-label">Brand</label>
        <select id="brand_name" class="form-select">
          <option selected></option>
          <!-- Populate brands -->
          <% data.brands.forEach((brand, i) => { %>
          <option value="<%=i%>"><%=brand%></option>
          <% }) %>
        </select>
      </div>

      <br />
      <div class="col-md-4">
        <label for="screenSizeFormField" class="form-label">Screen Size</label>
        <input
          id="screen_size"
          type="number"
          step=".01"
          class="form-control"
          placeholder="Specify the screen size in inches"
        />
      </div>
      <br />
      <div class="col-md-4">
        <label for="condition" class="form-label">Condition</label>
        <select id="condition" class="form-select">
          <option selected></option>
          <% data.conditions.forEach((condition, i) => { %>
          <option value="<%=i%>"><%=condition%></option>
          <% }) %>
        </select>
      </div>
      <br />
      <div class="col-md-4">
        <label for="memory" class="form-label">Memory</label>
        <select id="memory" class="form-select">
          <option selected></option>
          <% data.memorySizes.forEach((memory, i) => { %>
          <option value="<%=i%>"><%=memory%> GB</option>
          <% }) %>
        </select>
      </div>
      <br />
      <div class="col-md-4">
        <label for="price" class="form-label">Price in $C</label>
        <input
          id="price"
          type="number"
          step=".01"
          class="form-control"
          placeholder="$0.00"
        />
      </div>
      <br />
      <div class="col-md-4">
        <label for="storage_size" class="form-label">Storage Size in GB</label>
        <input
          id="storage_size"
          type="number"
          step=".01"
          class="form-control"
          placeholder=""
        />
      </div>
      <br />
      <div class="col-md-4">
        <label for="storage_type" class="form-label">Storage Type</label>
        <select id="storage_type" class="form-select">
          <option selected></option>
          <% data.storageTypes.forEach((type, i) => { %>
          <option value="<%=i%>"><%=type%></option>
          <% }) %>
        </select>
      </div>
      <br />
      <div class="container p-4">
        <div class="row">
          <div class="col">
            <div class="text-center">
              <button id="signupFormSubmit" class="btn btn-success btn-sm">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $("#create_ad").on("submit", function (e) {
    e.preventDefault();

    const brand_name = $("#brand_name").val();
    const screen_size = $("#screen_size").val();
    const condition = $("#condition option:selected").val();
    const memory = $("#memory").val();
    const price = $("#price").val();
    const storage_size = $("#storage_size").val();
    const storage_type = $("#storage_type option:selected").val();
    const title = $("#title").val();
    const description = $("#description").val();

    $.post(
      "/api/ad",
      {
        brand_name,
        screen_size,
        condition,
        memory,
        price,
        storage_size,
        storage_type,
        title,
        description,
      },
      function (data) {
        window.location.replace("/upload_images");
      }
    );
  });
</script>
